a {
    color: #3a3a3a;
    text-decoration: initial;
}

a:hover {
    text-decoration: underline;
}

ul,li {
    list-style-type: none;
}

main {
    padding:0.5rem;
    text-align:center;
}

body {
    font-size: 0.9rem;
    font-family: 'sans-serif';
}

/**
 * Page Header
 */
header .main-header {
    color: #f2f2f2;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid currentColor;
}
header .main-header .logo-svg{
    width: 107px;
}
header .main-header .search-header{
    position: relative;
}
header .main-header .search-header .form-control {
    flex:9;
}
header .main-header .search-header .btn{
    background: none;
    position: absolute;
    color: #3a3a3a;
    right: 0.3rem;
}

/**
 * Page Footer
 */
.main-footer {
    background-color: #494949;
}
.main-footer,
.main-footer a {
     color: #fff;
}