{% load i18n %}
<div class="form-group search-container">
    <form class="form-inline mr-auto search-header" method="get" action="/search/">
        {% csrf_token %}
{##}
{#        {% for field in form %}#}
{##}
{#           {{ field }}#}
{##}
{#        {% endfor %}#}

        <input class="form-control" type="text" name="q" value="{{ query }}" placeholder="{% trans 'Search' %}" aria-label="Search"/>
        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>