{% load i18n %}
{% load static %}
<div class="language-switch float-right position-absolute">
<ul>
{% for f in flags %}
    <li>
      <form name="language{{ f.code }}" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <input name="language" type="hidden" value="{{ f.code }}" />
        <a href="javascript:document.language{{ f.code }}.submit()">
            <img width='16' height='12' src="{% static "images/icons/" %}{{ f.code }}.png" alt='[ {{ f.label }} ]' /> {{ f.label }}</a>
      </form>
    </li>
{% endfor %}
</ul>
</div>

